html, body {
    height: 100%;
    width: 100%;
    min-width: 320px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    background: #442258;
    margin-top: 20%;
}

a,
a:hover {
    text-decoration: none;
}

a {
    color: #fff;
}

a:hover {
    color: #1ba1e2;
}

.container {
    text-align: center;

    -webkit-animation: fadein 1s ease-in;
       -moz-animation: fadein 1s ease-in;
        -ms-animation: fadein 1s ease-in;
            animation: fadein 1s ease-in;
}

.title {
    display: block;
    font-size: 64px;
    font-weight: 700;
}

.description {
    font-size: 24px;
}

.row {
    margin-bottom: 20px;
}

input {
    display: inline-block;
    color: #000;
    font-size: 18px;
    padding: 10px;
    appearance: none;
    border: none;
    margin-bottom: 20px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.button {
    width: 160px;
    height: 45px;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    color: #fff;
    background: #1ba1e2;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.button:hover {
    background: #44acdf;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-transition: background .25s ease;
       -moz-transition: background .25s ease;
        -ms-transition: background .25s ease;
         -o-transition: background .25s ease;
            transition: background .25s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
